.personalInfo {
    padding-left: 20px;
    background-color: aliceblue;
}

.userinfo{
    position: absolute ;
    left: 170px;
    top:90px
}
.userinfo h3{
    padding-left: 100px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
}

.userinfo p {
    padding-left: 100px;
}

.formlook {
    text-align: center;
    padding-top: 25px;
    background-color: #CFDFD3;
}

.formlook h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    font-style:bold;
    font-size: large;
}


input {
    margin-left: 115px;
    margin-bottom: 20px;
    width: 300px;
}

.submit {
    margin-left: 170px;
    width: 150px;
}

textarea {
    margin-left:100px;
}
