
main h2{
    text-align: center;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}
table {
    height: 300px;
    width: 600px;
    margin-left: 25%;
}
table tr th{
    text-align: center;
    border: 1px solid;
    font-size: large;
    padding-top: 20px;
    font-weight: bold;
}
table tr td {
    text-align: center;
    border: 1px solid;
    font-size: large;
    padding-top: 20px;
}

main {
    padding-top:40px;
    padding-bottom: 50px;
}

body {
    background-color: #DFEEFC;
}